.bar{
    position: fixed;
    top: 0;
    width: 100%;
    height: 3em;
<<<<<<< HEAD
    background-color: grey;
=======
    background-color: hotpink;
>>>>>>> 43117836e3f7964e93a980d98579f0a13579b606
    border-color: grey;
    border-width: 5px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
}